@use '../../theme.scss' as *;

.main {
  padding-top: 24px;
  min-width: 200px;
  width: 1280px;
  max-width: 100vw;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
}

.page-header {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  background: #fff;
  padding: 8px;
  border: 1px solid $border-light-color;

  :last-child {
    margin-left: auto;
  }
}

.page-header--details {
  padding-left: 8px;
  font-size: 13px;
}

.spacer {
  height: 40vh;
}

.row {
  font-weight: bold;
  svg {
    color: $accent;
    font-size: 32px;
  }
}
