.root {
  position: relative;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: default;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-details {
  font-size: 12px;
  align-items: center;
  color: #444;
  font-weight: 400;
  .group {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
