@use '../../theme.scss' as *;

.result {
  svg {
    color: $accent;
    font-size: 32px;
  }
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
}

.extra {
  margin-top: 6px;
}
