@use '../../theme.scss' as *;

.file-card-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;

  @media screen and (min-width: $small) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: $medium) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: $large) {
    grid-template-columns: repeat(4, 1fr);
  }
}
