@use '../../theme.scss' as *;

.file-card {
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: white;
  user-select: none;

  &:hover,
  &:focus {
    box-shadow: 0 0 6px 0 $accent-transparent;
  }

  &.file-card--selected {
    background: $accent-transparent;
  }
}

.content {
  display: grid;
  grid-template-rows: 130px auto;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
}
