.root {
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: white;
  user-select: none;
}

.content {
  display: grid;
  grid-template-rows: 130px auto;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
}

.fileDetails {
  border-top: 1px solid #dfdfdf;
  padding: 4px;

  input[type='text'] {
    width: 100%;
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid transparent;
    outline: none;
    &:hover,
    &:focus {
      border: 1px solid #dfdfdf;
    }
  }
}
