@use '../../theme.scss' as *;

.button,
.button--primary {
  font-size: 13px;
  border: 0;
  padding: 10px 16px;
  background: $accent;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: $accent-darken;
  }
}
.button--secondary {
  background: #fff;
  box-shadow: inset 0 0 0 2px $accent;
  color: $accent;

  &:hover {
    background: $accent-transparent;
  }
}
