@use 'sass:color';

$button-hover-color: #f3f3f3;
$border-color: #dfdfdf;
$border-light-color: #ebebeb;
$icon-color: #5c5c5c;
$accent: #00af92;
$accent-transparent: color.adjust(#00ffd5, $alpha: -0.9);
$accent-darken: color.adjust($accent, $blackness: 10%);

$small: 400px;
$medium: 600px;
$large: 900px;
