@use '../../theme.scss' as *;

.header {
  background: white;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 8px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  z-index: 1;

  a {
    display: flex;
    align-items: center;
  }
  
  h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    padding: 8px;
    font-size: 24px;
  }
}
